header {
	text-align: center;
}

.primesAndSum {
	text-align: center;
	display: flex;
	flex-direction: column;
}

label {
	width: 100%;
	text-align: center;
  }

#latestSolution {
	width: 100%;
	text-align: center;
}
